*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
a{
    text-decoration: none;
    
}
ul{
    list-style-type: none;
}
body{
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
}
p{
    margin-bottom: 1em;
}

/*HEADER AND GND*/

#mainheader{
    background: #fedfc6;
    width: 1200px; height: 68px;
    margin: 0 auto;
    position: relative;
}

#mainheader>.logo{ 
    width: 387px;height: 68px;
   
    padding-left: 70px;
    float: left;

}
#mainheader>.logo a{
    font-family: 'Quicksand', sans-serif;
    line-height: 68px;
    font-size: 24px;
    font-weight: 800;
    color: #343138;
}
#maingnb{
    float: right;
    padding-right: 40px;
    margin-top: 25px;
}
#maingnb>ul>li{
    display: inline-block;
    margin-left:23px;
    
}
#maingnb>ul>li>a{
    font-size: 18px;
    color: #343138;
    font-weight: bolder;
    font-family: 'Quicksand', sans-serif;
}

/*MAIN VISUAL*/

#mainvisual{
    width: 1200px;
    height: 617px;
    margin: 0 auto;
    overflow: hidden;
   
} 
#circle{position: absolute;
    width: 50px;
    height: 50px;
    background: #e2b79a;
    border-radius: 50%; 
    animation-name: circle;
        animation-duration: 2.7s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;}


 @keyframes circle{
            from{
                left: 0;
                transform: rotate(0deg);
            }

            50%{
                background: #e5a199;
                
            }

            100%{
                background: #e2b79a;
            }
            to{
                left: 400px;
                transform: rotate(360deg);
            }
        }


#mainvisual>.left{      
    width: 1200px; height: 100%;
    background: #fff;
    float: left;
    position: relative;
}
#mainvisual>.left>.title{
    position: absolute;
    width: 470px; height: 50px;
    background: #e5a199;
    margin-left: 400px;
    margin-top: 150px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    
    

}

.title>h2 span{
    display: block;
    text-align: center;

}
.title>h2 span:first-child{
    font-size: 40px;
}
.title>h2 span:last-child{
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
}



.sectionheader>span{
    font-size: 24px;
    font-weight: bolder;
    text-align: right;
    padding-left: 50px;
    
}
.sectionheader>h2{
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 50px;
}

/*WORK*/
#second{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 100px;
    background: #fedfc6;
    height: 100%;
     
}

#second h2{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 48px;
    margin-bottom: 100px;

}
#about{
    height: 700px;
}
#about p{
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-family: 'HY크리스탈M',sans-serif;
    


}
#work{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 100px;

    height: 100%;
    
}
#work .sectionheader{
    text-align: center;
}
#work .sectionheader>span{
    padding-left: 145px;
}


#worklist li{
    position: relative;
    width: 1200px; height: 500px;
    margin-left: 50px;
    margin-bottom:20px;   
    float: left;   
    font-family: 'HY중고딕',sans-serif;
   
}
.info{
    float: right;
    margin-right:200px;
}

#worklist>li>a>.info{
    position: absolute;
    width: 1200px;height:100% ;
    left: 400px; top: 0;
   
    display: none;
    opacity:0.8;
}
#worklist>li:hover>a>.info{
    display: block;
}
#worklist a{
    margin-top: 20px;
    margin-bottom: 0;
}

/*motion 추가*/

#worklist >li img{
    transition: 0.5s;
}
#worklist >li:hover img{
    transform: scale(1.02);
}

#bottom{
    background: #fedfc6;
    width: 1200px; height:300px;
    margin: 0 auto;
    position: relative;
    border-top: 50px solid #e5a199;
    text-align: center;
    
}
#bottom h2{
    font-size: 48px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#bottom p{
    line-height: 25px;
    margin-top: 50px;
}







